/* Home/Index page */
body {
    margin: 0;
    background-color: #F3E7C2;
    font-family: Sniglet;
}

/*Nav Bar*/
nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 40px;
    background-color: #F4933E;
    padding: 20px;
}

nav a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 10px;
}

nav > a:first-child {
    width: 5vw;
    height: 3vh;
}
#about{
    display: flex;
    flex-direction: column;
    background-color: #F4933E;
    text-align: center;
    border-radius: 10px;
    font-size: 25px;
}

.head-container{
    background-color: #F4933E;
    border-radius: 10px;
    margin: 0 auto;
    width: 50%;
}

header{
    background-image: url(elementor-placeholder-image.png);
    padding: 15%;
}

header h1, p, a{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
header h1{
    font-size: 60px;
}

header p{
    font-size: 30px;
}
header a{
    text-decoration: none;
    background-color: white;
    color: black;
    padding:  15px 20px;
    width: 20%;
    border-radius: 10px;
    margin: 0 auto;
}


#service{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #F4933E;
    font-size: 25px;
    border-radius: 10px;
    max-width: 40%;
    margin-top:30px;
}

#review-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F4933E;
    width: 400px 100px;
    font-size: 25px;
}
.copyright{
    background-color: #F4933E;
    padding: 30px 20px;
    font-size: 20px;
}


/*Your pets section of css*/

#Ppage {
    margin-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    background-color: #F4933E;
}
#Ppage img {
    width: 15vw;
}
#Ppage figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFA74A;
    width: 20vw;
}
